@{
    ViewBag.Title = "Course Search";
}

<div class="jumbotron">
    <h1>Find Your Course</h1>
    <p class="lead">Search for the best courses to enhance your skills.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Search for Courses</h2>
        <form method="get" action="/Courses/Search">
            <div class="form-group">
                <input type="text" class="form-control" name="query" placeholder="Enter course name or keyword...">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-4">
        <h2>Popular Categories</h2>
        <ul>
            <li><a href="/Courses/Search?query=Programming">Programming</a></li>
            <li><a href="/Courses/Search?query=Data Science">Data Science</a></li>
            <li><a href="/Courses/Search?query=Cybersecurity">Cybersecurity</a></li>
            <li><a href="/Courses/Search?query=Cloud Computing">Cloud Computing</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Featured Courses</h2>
        <p>Discover some of our top-rated courses that can help you grow your skills.</p>
        <p><a class="btn btn-default" href="/Courses/Featured">View Courses &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Course Providers</h2>
        <p>Find courses from top educational platforms and institutions.</p>
        <p><a class="btn btn-default" href="/Courses/Providers">Learn more &raquo;</a></p>
    </div>
</div>

    </div>
</div>
